%html  
  %body
    = render'layouts/header'

    -# .pcHeader__headerInner__nav
    -#   %ul.pcHeader__headerInner__nav__listsRight
    -#   - if user_signed_in?
    -#     %li.pcHeader__headerInner__nav__listsRight__login
    -#       =link_to"ログアウト",destroy_user_session_path
    -#   - else
    -#     %li.pcHeader__headerInner__nav__listsRight__login
    -#       =link_to"ログイン",new_user_session_path
    -#     %li.pcHeader__headerInner__nav__listsRight__new
    -#       =link_to"新規登録",new_user_registration_path
    .user-main
      %table
        %tbody
          %tr
            %th 名前
            %td 
              =@last_name
              =@first_name
          %tr
            %th ニックネーム
            %td
              =@nickname
          %tr
            %th メールアドレス
            %td
              =link_to"メールアドレス変更"
          %tr
            %th パスワード
            %td
              =link_to"パスワード変更"

          %tr
            %th クレジットカード情報
            %td
              =link_to"クレジットカード情報変更",cards_path
              #br
              =link_to"クレジットカード新規登録",new_card_path


    .appBanner
      .appBanner__inner
        %h2.appBanner__inner__title
          誰でも簡単、人生を変えるフリマアプリ
        %p.appBanner__inner__text
          今すぐ無料ダウンロード
        .appBanner__inner__icon

= render"layouts/footer"
