-if @items.length != 0
  -@items.each do |item|
    .content.box
      =link_to  "詳細へとぶ",item_path(item.id)
      = item.name
      = item.price
      = image_tag item.images[0].image.url, size: '300x300' if item.images[0]
-elsif @items.length == 0

  .content
    検索結果はありません
-else
  エラーが発生しました

