@import "items.show";
@import "items.new";
@import "items.index";
@import "users";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "cards";
@import "purchases";
body {
  margin: 0 auto;
}

#header {
  height: 100px;
  img {
    height: 80px;
    margin-top: 25px;
    margin-left: 150px;
  }
}

#error_explanation{
  font-size: medium;
}

.contents {
  width: 700px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 30px;
  border: 1px solid #3CCACE;
}

h2, #new_user.new_user {
  text-align: center;
  margin-top: 15px;
}

h2, #new_address.new_address {
  text-align: center;
  margin-top: 15px;
}

ul{
  list-style: none;
}

.field {
  margin: 0 auto;
  width: 50%;
  margin-bottom: 15px;
  label {
    font-weight: 700;
    font-size: 13px;
    padding-left: 2px;
    padding-bottom: 2px;
    float: left;
  }

  input {
    border-style: none;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    border: 1px solid #a6a6a6;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.07) inset;
    border-radius: 3px;
    padding: 0 7px;
  }
}

.form-require {
  font-weight: 300;
  font-size: small;
  background-color: #ce3f37;
  padding: 3px;
  color: #fff;
  float: right;
}

.form-require2 {
  font-weight: 300;
  font-size: small;
  background-color: lightpink;
  padding: 3px;
  color: gray;
  float: right;
}

.form-require3 {
  font-weight: 300;
  font-size: small;
  background-color: sandybrown;
  padding: 3px;
  color: gray;
  float: right;
}

.actions input {
  width: 300px;
  height: 50px;
  border: solid 1px;
  background-color: #3CCACE;
  font-size: medium;
  color: #000000;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}

.actions2 input{
  width: 300px;
  height: 50px;
  border: solid 1px;
  background-color: #3CCACE;
  font-size: medium;
  color: #000000;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}

.field_def {
  margin-top: 20px;
  margin-bottom: 30px;
}

.bottom{
  margin-top: 15px;
  &  a {
    display: block;;
    margin: 0 auto;
    cursor: pointer;
  }
}

.bottom a{
  display: block;;
  margin: 0 auto;
  cursor: pointer;
}

.footer_usr{
  height: 300px;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.create_addresses_view{
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: center;
}

a {
  text-align: center;
  cursor: pointer;

}

em{
  padding-right: 100px;
  font-size: small;
}