.card-register {
  width: 100%;
  display: flex;
  background-color: rgb(105, 200, 204);
}

.register-area {
  width: 50%;
  // height: 100vh;
  margin: 0 auto;
  background-color: white;
  display: flex;
  &__box {
    width: 60%;
    margin: 0 auto;
  }
}

.furima-logo {
  width: 40%;
  margin-top: 20px;
}

h1.card {
  margin-top: 50px;
}

h2.card {
  text-align: left;
  margin-top: 30px;
}

p.card {
  font-size: 20px;
}

#card_number {
  width: 100%;
  height: 50px;
  font-size: 15px;
}

#exp_month {
  width: 40%;
  height: 50px;
  font-size: 15px;
}

#exp_year {
  width: 40%;
  height: 50px;
  font-size: 15px;
}

#cvc {
  width: 100%;
  height: 50px;
  font-size: 15px;
}

#token_submit {
  border-style: none;
  width: 100%;
  height: 50px;
  margin-top: 50px;
  background-color: rgb(105, 200, 204);
  color: white;
  font-size: 20px;
  border-radius: 5px;
}

button.delete {
  border-style: none;
  width: 100%;
  height: 50px;
  margin-top: 50px;
  background-color: red;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.card-logo {
  width: 100%;
}