body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.mainVisual {
  height: 560px;
  padding: 0 60px;
  background-image: image-url('bg-mainVisual-pict_pc.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
}

.content {
  max-width: 1280px;
  width: 100%;
  height: 300px;
  margin: 0 auto;
  padding: 35 0 0 0;
  &__subtitle {
    font-size: 60px;
    font-weight: normal;
    line-height: 1.2;
    color: white;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
  }
  &__text {
    font-size: 18px;
    line-height: 1.2;
    color: white;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
  }
}

.btn {
  margin: 24px 0 0 0;
  display: flex;
  &__aBtn {
    width: 180px;
    height: 50px;
    margin-right: 10px;
    background-image: image-url('app-store.svg');
    background-size: cover;
    border-radius: 5px;
  }
  &__gBtn {
    width: 180px;
    height: 50px;
    margin-right: 10px;
    background-image: image-url('google-play.svg');
    background-size: cover;
    border-radius: 5px;
  }
}


.topIntroduction {
  height: 630px;
  padding: 60px 20px;
}

.subtitle {
  text-align: center;
  font-size: 26px;
  line-height: 1.4;
  font-weight: bold;
  margin-bottom: 25px;
  padding-bottom: 15px;
}

.lists {
  text-align: center;
  display: flex;
  max-width: 1020px;
  width: 100%;
  margin: 0 auto;
}

.list {
  width: 30%;
  margin: 16px 5% 0 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  &--last {
    width: 30%;
    margin: 16px 0 0 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  &__pict {
    width: 100%;
    margin-bottom: 20px;
  }
  &__text {
    font-weight: bold;
    font-size: 24px;
    line-height: 50px;
    margin: 0 0 0 2px;
  }
  &__description {
    font-size: 18px;
    line-height: 1.5;
    margin: 16px 0 0;
  }
}

.number {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4%;
  font-size: 30px;
  text-align: center;
  margin: 0 5px 0 0;
  padding: 10px 20px;
  background-color: #3CCACE;
  color: #fff;
}

.image {
  width: 100%;
}

.strong {
  color: #3CCACE;
}



.topMiddleDl {
  background-image: image-url('bg-topMiddleDl-pict.jpg');
  background-position: bottom right;
  height: 400px;
  background-size: cover;
  display: flex;
  align-items: center;
  &__inner {
    color: #fff;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
    text-align: left;
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
  }
}


.topKeyFeatur {
  padding: 60px 100px;
}

.head {
  font-size: 27px;
  text-align: center;
  margin: 0 0 40px;
  font-weight: bold;
  margin-bottom: 25px;
  padding-bottom: 15px;
  position: relative;
}    

.items {
  max-width: calc(1040px + 20px);
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.item {
  display: flex;
  flex-direction: column;
  width: calc(1 / 3 * 100%);
  text-align: center;
  padding: 0 20px;
  &__subtitle {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }
  &__detail {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
}

.icon {
  width: 100%;
  height: 100%;
}



.pickupContainer {
  padding: 80px 0 0;
  background-color: #f8f8f8;
  height: 100%;
}

.head {
  text-align: center;
  font-size: 28px;
  line-height: 1.4;
  font-weight: bold;
}


.productLists {
  width: 780px;
  margin: 0 auto;
  padding-bottom: 26px;
  display: flex;
  justify-content: space-around;
}

.title {
  text-align: center;
  font-size: 26px;
  line-height: 1.4;
  font-weight: bold;
  margin-bottom: 25px;
  padding-bottom: 15px;
  color: #3CCACE;
}

.productList {
  width: 220px;
  display: inline-block;
  float: left;
  &__img {
    width: 220px;
    height: 150px;
    position: relative;
    overflow: hidden;
    margin: 0;
    z-index: auto;
  }
  &__body {
    background-color: white;
    color: #333;
    padding: 16px;
  }
}

.show-img {
  width: 100%;
  height: 100%;
}



.appBanner {
  background-image: image-url('bg-appBanner-pict.jpg');
  padding: 100px 40px;
  position: relative;
  background-size: cover;
  background-position: center;
}

.inner {
  color: #fff;
  text-align: center;
  &__title {
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
    font-size: 24px;
    font-weight: bold;
    line-height: 1.4;
  }
  &__text {
    font-size: 35px;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
  }
}

.btn-b {
  margin: 24px 0 0 0;
  display: flex;
  justify-content: center;
  &__aBtn {
    width: 180px;
    height: 50px;
    margin-right: 10px;
    background-image: image-url('app-store.svg');
    background-size: cover;
    border-radius: 5px;
  }
  &__gBtn {
    width: 180px;
    height: 50px;
    margin-right: 10px;
    background-image: image-url('google-play.svg');
    background-size: cover;
    border-radius: 5px;
  }
}

.productLink {
  text-decoration: none;
}