
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.pcHeader{
  padding: 0 60px;
  &__headerInner{
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding-top: 15px;
    &__mainHeader{
      display: flex;
      &__icon{
        padding-bottom: 10px;
        margin-right: 30px;
      }
      &__searchBox{
        margin-left: auto;
        width: 100%;
        form{
          width: 100%;
          display: flex;
          margin-bottom: 5px;
          .searchBox--input{
            width: calc(100% - 26px);
            height: 36px;
            padding: 0 0 0 5px;
          }
          .search-btn{
            width: 36px;
            border: 0;
            cursor: pointer;
            background-color: #3CCACE;
            color: white;
            padding: 8px;
            background-image: url("icon-search 1.png");
            .icon{
              img{
                width: 100%;
                vertical-align: bottom;
                background-image: url("icon-search 1.png");
              }
            }
          }
        }
      }
    }
    &__nav{
      font-size:14px;
      display: flex;
      margin-bottom: 10px;
      &__listsLeft{
        position: relative;
        display: flex;
        &__item--first{
          display: flex;
          text-decoration: none;
          line-height: 32px;
          background-position: center right;
          background-repeat: no-repeat;
          background-size: 18px;
          padding-right: 30px;
        }
        &__treedisplayNone{
          display: none;
          z-index: 2;
          position: absolute;
          width: 240px;
          top:40px;
          &__categoryTree{
            display: flex;
            position: relative;
            flex-direction: column;
            &__item{
              position: relative;
            }
          }
        }
        &__item{
          display: flex;
          line-height: 32px;
          padding: 0 0 0 16px;
          &__brandsPulldowndisplayNone{
            position: absolute;
            z-index: 1;
          }
        }
      }
      &__listsRight{
        text-decoration: none;
        margin-left: auto;
        display: flex;
        &__login{
          display: flex;
          text-decoration: none;
          line-height: 38px;
          padding: 0 0 0px;
        }
        &__new{
          line-height: 38px;
          padding: 0 0 0 16px;
          display: flex;
          text-decoration: none;
        }
        &__mypage{
          line-height: 38px;
          padding: 0 0 0 16px;
          display: flex;
          text-decoration: none;
        }
      }
    }
  }
}
.breadCrumbs{
  height: 60px;
  width: 100%;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  position: relative;
  padding: 0 60px;
  ul{
    padding: 17px 0 16px;
    width: 100%;
    max-width: 1040px;
    font-size: 14px;
    margin: 0 auto;
    li{
      padding: 0 10px 0 0;
      float: left;
      list-style: none;
      a{
        text-decoration: none;
        color: #333;
      }
      .icon{
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
      }
    }
  }
}
.main{
  background-color: #f8f8f8;
  &__showMain{
    padding: 40px;
    margin: 0 auto;
    &__contentRight{
      width: 700px;
      margin: 0 auto;
      &__top-content{ 
        &__itemBox{
          background-color: #fff;
          padding: 24px 40px 40px;
          &__name{
            text-align: center;
            font-weight: bold;
            font-size: 24px;
          }
          &__body{
            margin: 16px 0 0;
            .main{
              flex-wrap: wrap;
              display: flex;
              position: relative;
              .mainimage{
                display: flex;
                flex-direction: column;
                width: 30px;

                align-items: center;
                margin: 0 auto;
                img{
                  object-fit: cover;
                  height: 360px;
                  display: flex;
                }
              }
              .subimage{
                display: flex;
                justify-content: center;
                margin-top: 10px;
                flex-wrap: wrap;
                li{
                  display: flex;
                }
              }

              
            }
          }
          &__price{
            margin: 24px 0 24px;
            text-align: center;
            display: flex;
            flex-direction: column;
            span{
              font-size: 36px;
              font-weight: bold;
              margin: 0 10px 0 0;
            }
            &__price-Detail{
              font-size: 14px;
              margin-top:10px;
              border: double gray;
              span{
                font-size: 14px;
              }
              p{
                margin-top: 10px;
                font-size: medium;
              }
            }
          } 
          &__table{
            margin-bottom: 20px;
            table{
              width: 100%;
              height: 375px;
              border-collapse: collapse;
              border: 1px solid #f8f8f8;
              tbody{
                display: table-row-group;
                vertical-align: middle;
                border-color: inherit;
                tr{
                  display: table-row;
                  vertical-align: inherit;
                  border-color: inherit;
                  th{
                    width: 20%;
                    background-color: #eee;
                    font-weight: 400;
                    padding: 8px;
                    border: 1px solid #dedede;
                    font-size: 14px;
                    text-align: center;
                  }
                  td{
                    width: 61%;
                    padding: 15px 15px;
                    border: 1px solid #dedede;
                    font-size: 14px;
                    a{
                      text-decoration: none;
                      color: #3CCACE;
                    }
                  }
                }
              }
            }
          }
          &__item-buy-btn{
            display: block;
            margin-top: 16px;
            background-color: #ea352d;
            font-size: 14px;
            color: #fff;
            line-height: 56px;
            text-align: center;
            font-weight: 600;
            transition: all ease-out .3s;
          }
          &__item-Detail{
            line-height: 1.5;
            font-size: 18px;
            margin-bottom: 30px;
          }
          &__optionalArea{
            display: flex;
            justify-content: space-between;
            ul{
              margin: 10px 0 0;
              display: flex;
              .optionalBtnlikeBtn{
                margin-right: auto;
                padding: 6px 10px;
                border-radius: 40px;
                color: #3cccac;
                border: 1px solid #ffb340;
                list-style: none;
              }
            }
            &__optional{
              margin: 10px 0 0;
              display: flex;
              &__optionalBtn{
                font-size: 14px;
                list-style: none;
                a{
                  padding: 6px 10px;
                  display: inline-block;
                  border-radius: 4px;
                  color: #333;
                  border:1px solid #333;
                  text-decoration: none;
                }
              }
            }
          }
        }
        &__commentBox{
          padding: 24px;
          background-color: #fff;
          margin: 10px 0;
          text-align: center;
          &__commentContents{
            list-style: none;
            textarea{
              width: 100%;
              min-height: 104px;
              padding: 10px;
            }
            .comment{
              line-height: 48px;
              background: #3CCACE;
              border: 1px solid #3CCACE;
              color: #fff;
              width: 60%;
              font-size: 18px;
              border-radius: 100px;
              margin-top: 10px;
            }
            p{
              padding: 8px;
              font-size: 14px;
              background-color: #f8f8f8;
              margin: 10x 0;
              text-align: left;
            }
          }
            
        }
      }
      &__links{
        list-style: none;
        li{
          float: left;
          a{
            text-decoration: none;
            color: #3ccace;
          }
        }
        .last-child{
          float: right;
          a{
            text-decoration: none;
            color: #3ccace;
          }
        }
      }
      &__relatedItems{
        a{
          display: block;
          margin: 40px 0 8px;
          color: #3ccace;
          text-decoration: none;
          font-weight: bold;
          font-size: 22px;
          position: relative;
        }
      }
    }
  }
}

.appBanner{
  background-image: url(/assets/bg-appBanner-pict.jpg);
  padding: 100px 40px;
  position: relative;
  background-size: cover;
  background-position: center;
  &__inner{
    color: #fff;
    text-align: center;
    &__title{
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 24px;
      font-weight: bold;
      line-height: 1.4;
    }
    &__text{
      font-size: 35px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
    }
  }
}
.footer{
  padding: 60px 0;
  color: #fff;
  background-color: #272727;
  text-align: center;
  &__contents{
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    &__content{
      display: flex;
      flex-direction: column;
      width: calc(1/3* 100%);
      margin: 0 2% 0 0;
      &__head{
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
      }
      ul{
        list-style: none;
        a{
          color: #fff;
          text-decoration: none;
          font-size: 12px;
          line-height: 32px;
        }
      }
    }
  }
  &__logo{
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
    img{
      width: 100%;
      vertical-align: bottom;
    }
    p{
      font-size: 14px;
    }
  }
}
.purchasesBtn{
  width: 120px;
  background-color: #3ccace;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  &__text{
    color: #fff;
    display: block;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 5px;
  }
  &__icon{
    width: 100%;
    height: 100%;
    display: block;
    &--a {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}
