// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img.furima-logo {
  width: 15%;
}

img.footer-logo {
  width: 15%;
}



.new{

  &__content{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
    
    &__header{
    height: 100px;
    width: 100;
    &__text{
      height: 60px;
      width: 100%;
      text-align: center;
      margin: auto 0;
      margin-top: 30px;
    }

    }

    
    &__main{
      border: 1px solid #3CCACE;
      overflow:scroll;
      width: 700px;
      background-color: white;
      height: 100vh;
      margin: 0 auto;
      &__childrens{
        display: flex;
        justify-content: center;
        flex-direction: column;
        &__imges{
          height: 400px;
          width: 100%;
          border-bottom: 1px solidrgb(231, 229, 229);
          margin: auto;
          padding: 40px;
          &__box{
            height: 100%;
            width: 100%;
            font-size: 20px;
            .icons{
              align-content: center;
              -webkit-box-align: center;
              align-items: center;
              background-color: rgb(245, 243, 243);
              cursor: pointer;
              display: flex;
              height: 65%;
                width: 100%;
                flex-wrap: wrap;
                margin: 20px auto;
                -webkit-box-pack: center;
              justify-content: center;
                position: relative;
                border-width: 1px;
                border-style: dashed;
                border-image: initial;
                transition: all 0.5s ease-out 0s;
                padding:60px 190px;
                height: 20px;

            .icon{
              font-size: 30px;
              padding: 10px 100px;
              .label{
                cursor: pointer;
                font-size:1.5em;                 
              }
            }
            
            .text{
              font-size: 12px;
              text-align: center;
              margin-top: 20px;
            }
            .abc{
              opacity: 0;
            }
          }
          }
        }
        &__items{
          padding: 40px;
          height: 400px;
          width: 100%;
          font-size: 16px;
          border-bottom: 1px solid rgb(231, 229, 229);
          &__box{
            height: 100%;
            width: 100%;
            font-size: 20px;
            &__box1{
              height:50%;
              width:100%;
              input{
                padding: 20px;
                margin-top: 10px;
                width: 100%;
                height: 30%;
                border-radius: 10px;
                font-size: 16px;
              
              }
            }
            

          &__box2{
            height:50%;
            width:100%;
            .textarea{
              margin-top: 10px;
              width: 100%;
              height: 70%;
              border-radius: 10px;
              padding: 10px;
              resize: none;
              font-size: 16px;
            }
          }
        }
        }
        &__categories{
          border-bottom: 1px solid rgb(231, 229, 229);
          height: 600px;
          width: 100%;
          font-size: 20px;
          margin: auto;
          padding: 45px 45px 15px;
          &__box{
              height: 100%;
              width: 100%;
              font-size: 16px;
              &__box1{
                height: 10%;
                width: 100%;
                font-size: 20px;
              }
              &__box2{
                height: 30%;
                width: 100%;
                font-size: 16px;
                .categorie{
                  margin-top: 10px;
                  font-size: 16px;
                  width: 100%;
                  height: 50%;
                }
              }
            &__box3{
                height: 10%;
                width: 100%;
                margin-top: 20px;
                .brnd{
                  padding: 20px;
                  margin-top: 10px;
                  width: 100%;
                  height: 40%;
                  border-radius: 10px;
                  font-size: 16px;
                }
            }
            &__box4{
              height: 30%;
              width: 100%;
                .condition{
                  margin-top: 10px;
                  font-size: 20px;
                  width: 100%;
                  height: 25%;
                }
            }
            &__box5 {
              height: 10%;
              width: 100%;
              margin-top: 10px;
              .size{
                padding: 20px;
                width: 100%;
                height: 40%;
                border-radius: 10px;
                font-size: 16px;
              }
            }
          }
        }
        &__deliverys{
          height: 450px;
          width: 100%;
          font-size: 16px;
          border-bottom: 1px solid rgb(231, 229, 229);
          padding: 40px 40px 15px;
          margin: auto;
            &__box{
              height: 100%;
              width: 100%;
                &__box1{
                  width: 100%;
                  height: 10%;
                  font-size: 20px;
                }
                &__box2{
                  width: 100%;
                  height: 30%;
                  margin-top: 10px;
                  font-size: 16px;
                    .contribution{
                      margin-top: 10px;
                      font-size: 20px;
                      width: 100%;
                      height: 35%;
                    }
                }

                &__box3{
                  width: 100%;
                  height: 30%;
                  margin-top: 10px;
                  font-size: 16px;
                    .delivery{
                      margin-top: 10px;
                      font-size: 20px;
                      width: 100%;
                      height: 35%;
                    }
                }

                &__box4{
                  width: 100%;
                  height: 30%;
                  margin-top: 10px;
                  font-size: 16px;
                  .area{
                    margin-top: 10px;
                    font-size: 20px;
                    width: 100%;
                    height: 35%;
                  }
                }
            }
        }

        &__sale{
          font-size: 20px;
          height: 500px;
          width: 100%;
          margin: auto;
          padding: 40px;
          &__box{
            height: 100%;
            width: 100%;
                &__box1{
                  margin: 10px;
                  display: flex;
                  height: 15%;
                  width: 100%;
                  .flex{
                    width: 50%;
                    height: 100%;
                    font-size: 14px;
                    display: flex;
                    justify-content: space-between;
                    .rigth{
                      margin: 5% 0;
                      margin-right: 8px;
                }
              }
              .price{
                width: 50%;
                height: 80%;
                border-radius: 10px;
                padding: 0 16px;
              }  
            }
              &__box2{
              height: 15%;
              width: 100%;
              display: flex;
              justify-content: space-between;
              border-bottom: 1px solid rgb(231, 229, 229);
                p{
                  margin-top: 20px;
                }

              }


              &__box3{
                height: 62%;
                width: 100%;
                  &__top{
                    height: 20%;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    p{
                      margin: auto 0;
                    }
                  }
                &__middle{
                  height: 40%;
                  width: 100%;
                  &__buttn1{
                    display: flex;
                    justify-content: center;
                      .submit{
                        margin-top: 20px;
                        display       : inline-block;
                        border-radius : 5px;          
                        font-size     : 20px;        
                        text-align    : center;      
                        cursor        : pointer;     
                        padding       : 13px 93px;   
                        background    : #ff0000;     
                        color         : #ffffff;     
                        line-height   : 1em;         
                        transition    : .3s;         
                        border        : 2px solid #ff0000;  
                        width: 60%;
                        
                      }
              }
                &__buttn2{
                  display: flex;
                  justify-content: center;
                  .back{
                  display       : inline-block;
                  border-radius : 5px;          
                  font-size     : 20px;        
                  text-align    : center;      
                  cursor        : pointer;     
                  padding       : 13px 93px;   
                  background    : #999999;     
                  color         : #ffffff;     
                  line-height   : 1em;         
                  transition    : .3s;        
                  border        : 2px solid #999999;    
                  margin-top: 15px;
                  text-decoration: none;
                  width: 60%;
                }
                }
            }
                
            &__bottom{
              height: 20%;
              width: 100%;
              font-size: 12px;
              color: gray;
              padding: 0 20px;
              p{
                padding-top: 10px;
              }
            }
           }
          }
        }
      }
    }
    &__footer{
      position:relative;
      bottom: 0;
      height: 128px;
      width: 100vw;
      bottom: 0;
        &__list{
          display: flex;
          justify-content: center;
            ul{
              margin-top: 10px;
              display: flex;
              list-style: none;
              li{
                margin-left: 20px;
                font-size: 14px;
                color: rgb(68, 65, 65);
              }
          }
      }

        &__image{
          height: 40px;
          display: flex;
          justify-content: center;
          margin-top: 10px;
          &__box {
            display: flex;
            justify-content: center;
          }
        } 
        &__text{
        display: flex;
        justify-content: center;
        margin-top: 10px;
        font-size: 12px;
        color: rgb(68, 65, 65);
      }
    }
  }
}


#form-wrapper {
  position: relative;
  .js-file_group {
    input {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      height: 100%;
      width: 100%;
      cursor: pointer;
    }
  }
}
#previews {
  display: flex;
  text-align: center;
}
.js-remove-wrapper {
  height: 120px;
  width: 100px;
  margin: 10px 0;
  text-align: center;
  img {
    display: block;
  }
  span {
    display: block;
  }
}

.new__content__main__childrens__imges{
  height: 450px;
}



.listing-select-wrapper__box {
  width: 100%;
  height: 45px;
}


#previews{
  flex-wrap: wrap;
}