.footer
  %ul.footer__contents
    %li.footer__contents__content
      %h2.footer__contents__content__head
        FURIMAについて
      %ul
        %li
          =link_to"会社概要","/"
        %li
          =link_to"プライバシーポリシー","/"
        %li
          =link_to"FURIMA利用規約","/"
        %li
          =link_to"ポイントに関する特約","/"
    %li.footer__contents__content
      %h2.footer__contents__content__head
        FURIMAをみる
      %ul
        %li
          =link_to"カテゴリー一覧","/"
        %li
          =link_to"ブランド一覧","/"
    %li.footer__contents__content
      %h2.footer__contents__content__head
        ヘルプ&ガイド
      %ul
        %li
          =link_to"FURIMAガイド","/"
        %li
          =link_to"FURIMAロゴ利用ガイドライン","/"
        %li
          =link_to"お知らせ","/"
  .footer__logo
    %a
      = image_tag src="logo-white.png",size:"160x46.34"
    -# %p
    -#   FURIMA

  .purchasesBtn
    %span.purchasesBtn__text
      出品する
    %span.purchasesBtn__icon
      -# %a
        -# = image_tag src="icon_camera.png",size:"54x54"
      = link_to image_tag(src="icon_camera.png",size:"54x54"),new_item_path
  


